{% extends "base.html" %}
{% block title %} Bibliotheque {% endblock %}
{% block content %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Fast Hosting</a>
    <ul class="nav">
      <li><a href="{% url imghost.views.index %}">Accueil</a></li>
      <li><a href="{% url imghost.views.gallery %}">Gallerie</a></li>
      <li class="active"><a href="#">Bibliotheque</a></li>
    </ul>
  </div>
</div>
<div style="margin-top: 40px; margin-left: 20px;">
<strong>Nombre de documents: {{latest_document.id}}</strong>
<br><br>
<table class="table table-hover">
<tr><th>Id</th><th>Nom</th><th>Adresse</th><th>Informations</th></tr>
{% for document in album %}
<tr>
<td>{{document.id}}:</td>
<td>{{ document.document.name }}</td>
<td><a href='{{document.document.url}}'>localhost:8000{{ document.document.url }}</a></td>
<td><a href='{% url imghost.views.document_detail document.id %}'>Detail</a></td>
</tr>
{% endfor %}
</table>
<br>
<a><input class="btn btn-inverse"type="button" onClick="window.location.href='{% url imghost.views.index %}'" value="Retour"/></a>
</div>
{% endblock %}